
<!-- Custom Head Snippet (head/custom.html) START -->

<!-- Chart js-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Site Stat by GoatCounter -->
<script data-goatcounter="https://lazyjobseeker.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
<!-- Google Adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6856044148345326" crossorigin="anonymous"></script><!-- Clipboard -->
<script src="https://cdn.jsdelivr.net/npm/popper@1.0.1/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="/assets/js/clipboard.js"></script>
<!-- Naver Search Advisor -->
{% if page.lang and page.lang == 'ko' and page.page_no and page.page_no == 1 -%}<meta name="naver-site-verification" content="e849c9ef4769c0606b6958592fc2e13a5c4e9a37" />{% endif -%}
<!-- goatcounter -->
<script data-goatcounter="https://lazyjobseeker.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
<!-- hreflang for multiple language SEO support -->
{% include multilang/get-lang-variables %}
{% if target_url_ko -%}
<link rel="alternate" hreflang="ko" href="{{target_url_ko}}">
{% endif -%}
{% if target_url_en -%}
<link rel="alternate" hreflang="en" href="{{target_url_en}}">
{% endif -%}

<!-- quiz in a post -->
{% if page.quiz_file -%}<script> var jsonpath = '{{ page.quiz_file }}'; </script>{% endif -%}
<!-- JSX mathematical plotting -->
<link href="https://fastly.jsdelivr.net/npm/jsxgraph/distrib/jsxgraph.css" rel="stylesheet" type="text/css" />
<script src="https://fastly.jsdelivr.net/npm/jsxgraph/distrib/jsxgraphcore.js" type="text/javascript" charset="UTF-8"></script>
<script src="{{site.url}}/assets/js/custom-math-functions.js"></script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="{{site.baseurl}}/assets/favicon/site.webmanifest">

<!-- Custom Head Snippet (head/custom.html) END -->
