/*
   Adsense elements in pages
   ========================================================================== */

div {
  &.google-auto-placed {
    &.ap_container {
      display: inline-flex !important;
      justify-content: center;
      overflow: hidden;
      clear: none !important;
      //border: 1px solid $light-gray;
      //border-radius: 8px;
      //box-shadow: inset 0 -1px $light-gray;
      margin: 0 0 0.5em 0;
    }
  }

  .googleads__belowsidebar {
    width: 90% !important;
  }

  .googleads__belowsidebar > ins,
  .googleads__belowtoc > ins {
    @media (max-width: $large) {
      display: none !important;
    }
  }

  .customadsense__belowpaginator {
    float: left;
    margin-top: 1em;
    padding-top: 1em;
    width: 100%;
    overflow: hidden;
    //border: 1px solid $light-gray;
    //border-radius: 8px;
    //box-shadow: inset 0 -1px $light-gray;
  }
}

/*
#ad_iframe {
    position: relative !important;
    left: 0% !important;
    margin-left: 0px !important;
}
*/