/*
   Adsense elements in pages
   ========================================================================== */

div {
    &.google-auto-placed {
        &.ap_container {
            display: inline-flex !important;
            justify-content: center;
            // display: inline-block !important;
        }
    }

    .googleads__belowtoc > ins {
        @media (max-width: $x-large) {
            display: none !important;
        }
    }

    .customadsense__inarticle {
        float: left;
        margin-top: 1em;
        padding-top: 1em;
        width: 100%;
        overflow: hidden;
    }
}