/*
   Adsense elements in pages
   ========================================================================== */

div {
    &.google-auto-placed {
        &.ap_container {
            display: inline-flex !important;
            justify-content: center;
            // display: inline-block !important;
        }
    }

    .googleads__belowtoc {
        display: none;

        @include breakpoint($large) {
        display: inline-block;
        }
    }
}