::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color:#4b4f52;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background-color:#f9ce7f; //#5e6265;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7fcef9; //$primary-color;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment{
  width: 0px;
  height: 0px;
  background:transparent;
}