<div class="customadsense__belowpaginator">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6856044148345326"
    crossorigin="anonymous"></script>
<ins class="adsbygoogle"
    style="display:block; text-align:center; border-bottom:0px;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-6856044148345326"
    data-ad-slot="3244655215"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>