<div id="{{ 'jxg' | append: include.jxgNo }}" class="jxgbox" style="width:{{include.width}}px; height:{{include.height}}px; margin:auto"></div>
{% assign jxgNo = include.jxgNo %}
<script>
  var dBrdAttr = {
    boundingbox: [-4.5, 4, 4.5, -0.5],
    axis:false,
    showCopyright:false,
    showNavigation:false,
    zoom:{enabled: false},
    pan:{enabled: false}
  }
  var dFontAttr = {
    fontSize:16,
    fixed:true
  }
  var dPointAttr = {
    visible:false,
    fixed:true
  }
</script>
{% include jsxgraphs/{{ include.graphName | append: ".html"}} %}

**그림 {{ include.jxgNo | plus: 1 }}.** {{ include.caption }}
{: .text-center}