<script> var jsonpath = '{{ page.question_file }}'; </script>

<div class="quiz-container">
  <h2>Sample Quiz</h2>
  <div class="question">
    <p id="question-text">Q1: Question 1</p>
    <div class="choices">
      <button class="choice" onclick="checkAnswer(0)">A1</button>
      <button class="choice" onclick="checkAnswer(1)">A2</button>
      <button class="choice" onclick="checkAnswer(2)">A3</button>
      <button class="choice" onclick="checkAnswer(3)">A4</button>
    </div>
    <p id="feedback"></p>
  </div>
</div>

<script src='/assets/js/multiple-choice-question.js'></script>