<script>
function draw() {
  var brd = JXG.JSXGraph.initBoard('{{ "jxg" | append: jxgNo }}', {boundingbox: [-4.5, 4, 4.5, -0.5], axis:false, showCopyright:false, showNavigation:false, zoom:{enabled: false}, pan:{enabled: false}});
  var kO = 0.5;
  var kR = 0.5;
  var qO = -1.5;
  var qR = 1.5;
  var GO = 0.8;
  var GR = 0.5;
  var offset = 0.2;
  var pivot = -0.23;
  var left = pivot-offset;
  var right = pivot+offset;
  function marcusO(x) {return (kO/2)*parabola(x-qO) + GO;}
  function marcusR(x) {return (kR/2)*parabola(x-qR) + GR;}
  var intersect = marcusO(pivot) - 0.05;
  brd.create('functiongraph', [function(x){return marcusO(x);}, -5.5, 5.5],{strokeColor:'red', dash:2});
  brd.create('functiongraph', [function(x){return marcusR(x);}, -5.5, 5.5],{strokeColor:'red', dash:2});
  brd.create('point', [0, 0]);
  brd.create('functiongraph', [function(x){return marcusO(x);}, -5.5, left],{strokeColor:'red', strokeWidth:3});
  brd.create('functiongraph', [function(x){return marcusR(x);}, right, 5.5],{strokeColor:'red', strokeWidth:3});
  var p = brd.create('point', [pivot, intersect], {visible:false});
  var pO = brd.create('point', [left, marcusO(left)], {visible:false});
  var pR = brd.create('point', [right, marcusR(right)], {visible:false});
  brd.create('spline', [pO, p, pR], {strokeColor:'red', strokeWidth:3});
  brd.create('line', [[qO, 0], [qO, marcusO(qO)]], {straightFirst:false, straightLast:false, fixed:true, strokeWidth:1, dash:2});
  brd.create('line', [[qR, 0], [qR, marcusO(qR)]], {straightFirst:false, straightLast:false, fixed:true, strokeWidth:1, dash:2});
  brd.create('line', [[pivot, 0], p], {straightFirst:false, straightLast:false, fixed:true, strokeWidth:1, dash:2});
  brd.create('line', [[qO-1, marcusO(qO)], [qR+1, marcusO(qO)]], {straightFirst:true, straightLast:false, fixed:true, strokeWidth:1, dash:2});
  brd.create('line', [[qR-1, marcusR(qR)], [qR, marcusR(qR)]], {straightFirst:true, straightLast:false, fixed:true, strokeWidth:1, dash:2});
  brd.create('line', [[pivot-1, intersect], [qR+1, intersect]], {straightFirst:true, straightLast:false, fixed:true, strokeWidth:1, dash:2});
  brd.create('line', [[qR-0.3, marcusO(qR)], [qR+0.3, marcusO(qR)]], {straightFirst:false, straightLast:false, fixed:true, strokeWidth:1, dash:2});
  
  brd.create('arrow', [[qO-0.5, marcusO(qO)], [qO-0.5, marcusR(qR)]], {fixed:true, strokeWidth:2});
  brd.create('arrow', [[qR+0.5, marcusO(qR)], [qR+0.5, marcusO(qO)]], {fixed:true, strokeWidth:2});
  brd.create('arrow', [[qO, marcusO(qO)], [qO, intersect]], {fixed:true, strokeWidth:2});
  brd.create('arrow', [[qR, marcusR(qR)], [qR, intersect]], {fixed:true, strokeWidth:2});
  
  brd.create('text', [-1.66, -0.27, "q<sub>O</sub>"], {fontSize:16, fixed:true});
  brd.create('text', [1.38, -0.27, "q<sub>R</sub>"], {fontSize:16, fixed:true});
  brd.create('text', [-0.23, -0.27, "q<sub>&#8225;</sub>"], {fontSize:16, fixed:true});
  brd.create('text', [-4.3, 1.25, "G<sup>&#8225</sup>"], {fontSize:16, fixed:true});
  brd.create('text', [-4.3, 0.95, "G<sub>O</sub><sup>0</sup>(q<sub>O</sub>)"], {fontSize:16, fixed:true});
  brd.create('text', [-4.3, 0.65, "G<sub>R</sub><sup>0</sup>(q<sub>R</sub>)"], {fontSize:16, fixed:true});
  brd.create('text', [-1.7, 1.26, "ΔG<sub>f</sub><sup>&#8225</sup>"], {fontSize:16, fixed:true});
  brd.create('text', [1.06, 1.26, "ΔG<sub>b</sub><sup>&#8225</sup>"], {fontSize:16, fixed:true});
  brd.create('text', [-2.8, 0.4, "ΔG<sub>0</sub>"], {fontSize:16, fixed:true});
  brd.create('text', [-3, 1.6, "O + e"], {fontSize:16, fixed:true});
  brd.create('text', [3.2, 1.6, "R"], {fontSize:16, fixed:true});
  brd.create('text', [1.76, 1.82, "λ"], {fontSize:16, fixed:true});
}
draw();
</script>