<script>
  var board = JXG.JSXGraph.initBoard('{{ "jxg" | append: jxgNo }}', {boundingbox: [-4, 4, 4, -1], axis:false, showCopyright:false, showNavigation:false, zoom:{enabled: false}, pan:{enabled: false}});
  var gibbsO = board.create('functiongraph', [function(x){return gibbs(1.5, x+2);}, -3.5, 3.5],{name:'Gibbs', withLabel:false, strokeColor:'red'});
  var gibbsR = board.create('functiongraph', [function(x){return gibbs(1.5, -1*(x-2));}, -3.5, 3.5],{name:'Gibbs', withLabel:false, strokeColor:'blue'});
  var textR = board.create('text', [2.3, -0.5, "R"], {fontSize:16, fixed:true});
  var textO = board.create('text', [-3, -0.5, "O+e<sup>-</sup>"], {fontSize:16, fixed:true});
  var textG0c = board.create('text', [-3.7, 1, "ΔG<sup>&#8225;</sup><sub>0c</sub>"], {fontSize:16, fixed:true});
  var textG0a = board.create('text', [2.6, 1, "ΔG<sup>&#8225;</sup><sub>0a</sub>"], {fontSize:16, fixed:true});
  var p2 = board.create('point', [0, 1.91], {name: 'A', size:2, fixed:true});
  var p3 = board.create('point', [-3, 1.91], {visible:false, fixed:true});
  var p4 = board.create('point', [3, 1.91], {visible:false, fixed:true});
  var line1 = board.create('line', [p3, p4], {straightFirst:false, straightLast: false, dash:2});
  var p5 = board.create('point', [-2.5, 0], {visible:false, fixed:true});
  var p6 = board.create('point', [-2.5, 1.91], {visible:false, fixed:true});
  var line2 = board.create('arrow', [p5, p6], {straightFirst:false, straightLast: false, dash:2});
  var p7 = board.create('point', [2.5, 0], {visible:false, fixed:true});
  var p8 = board.create('point', [2.5, 1.91], {visible:false, fixed:true});
  var line3 = board.create('arrow', [p7, p8], {straightFirst:false, straightLast: false, dash:2});
</script>