<script>
  function draw0() {
    var brdAttr = dBrdAttr;
    brdAttr["boundingbox"] = [-2, 1.5, 14, -2];
    var brd = JXG.JSXGraph.initBoard('{{ "jxg" | append: jxgNo }}', brdAttr);
    brd.create('axis', [[0,-1.5], [14,-1.5]]);
    brd.create('axis', [[0,-1.5], [0,1.5]]);
    brd.create('functiongraph',
      [(x) => 0-0.059*x, -3, 17], {
      strokeColor:'red' });
    brd.create('functiongraph',
      [(x) => 1.229-0.059*x, -3, 17], {
      strokeColor:'red' });
    brd.create('text', [2.37, -0.03, "A"], dFontAttr);
    brd.create('text', [2.37, 1.21, "B"], dFontAttr);
    brd.create('text', [-0.8, -0.5, "E/V vs. NHE"], dFontVert);
    brd.create('text', [6.5, -1.8, "pH"], dFontAttr);
    brd.create('text', [8.7, 1, "O<sub>2</sub>"], dFontAttr);
    brd.create('text', [8.7, -0.07, "H<sub>2</sub>O"], dFontAttr);
    brd.create('text', [8.7, -1.25, "H<sub>2</sub>"], dFontAttr);
  }
  draw0();
</script>