{% assign posts = "" | split: ',' %}
{% for post in site.posts %}
  {% if post.lang and post.lang == page.lang %}
    {% assign posts = posts | push: post %}
  {% endif %}
{% endfor %}

{% assign last_idx = posts.size | minus: 1 %}
{% for idx in (0..posts.size) %}
  {% assign prev_idx = idx | plus: 1 %}
  {% assign next_idx = idx | minus: 1 %}
  {% if page.id == posts[idx].id %}
    {% if idx == 0 %}
      {% assign post_prev = posts[prev_idx] %}
      {% assign post_next = posts[idx] %}
    {% elsif idx == last_idx %}
      {% assign post_prev = posts[idx] %}
      {% assign post_next = posts[next_idx] %}
    {% else %}
      {% assign post_prev = posts[prev_idx] %}
      {% assign post_next = posts[next_idx] %}
    {% endif %}
    {% break %}
  {% endif %}
{% endfor %}